{"openapi":"3.0.2","info":{"title":"Automat","version":"3.0","termsOfService":"http://loading"},"servers":[{"url":"https://robokop-automat.apps.renci.org"}],"paths":{"/binding-db/meta_knowledge_graph":{"get":{"tags":["trapi","binding-db"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_binding-db_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/binding-db/sri_testing_data":{"get":{"tags":["trapi","binding-db"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_binding-db_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/binding-db/query":{"post":{"tags":["trapi","binding-db"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_binding-db_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:SmallMolecule"],"ids":["PUBCHEM.COMPOUND:44640149"]},"n1":{"categories":["biolink:Protein"],"ids":["UniProtKB:P51570"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:affects"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/binding-db/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_binding-db","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["binding-db"]}},"/binding-db/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_binding-db","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["binding-db"]}},"/binding-db/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_binding-db","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["binding-db"]}},"/binding-db/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_binding-db","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["binding-db"]}},"/binding-db/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_binding-db","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["binding-db"]}},"/cam-kp/meta_knowledge_graph":{"get":{"tags":["trapi","cam-kp"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_cam-kp_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/cam-kp/sri_testing_data":{"get":{"tags":["trapi","cam-kp"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_cam-kp_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/cam-kp/query":{"post":{"tags":["trapi","cam-kp"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_cam-kp_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:BiologicalProcess"],"ids":["GO:0000209"]},"n1":{"categories":["biolink:BiologicalProcess"],"ids":["GO:0006511"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:precedes"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/cam-kp/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_cam-kp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["cam-kp"]}},"/cam-kp/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_cam-kp","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["cam-kp"]}},"/cam-kp/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_cam-kp","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["cam-kp"]}},"/cam-kp/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_cam-kp","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["cam-kp"]}},"/cam-kp/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_cam-kp","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["cam-kp"]}},"/ctd/meta_knowledge_graph":{"get":{"tags":["trapi","ctd"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_ctd_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/ctd/sri_testing_data":{"get":{"tags":["trapi","ctd"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_ctd_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/ctd/query":{"post":{"tags":["trapi","ctd"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_ctd_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:SmallMolecule"],"ids":["PUBCHEM.COMPOUND:92196"]},"n1":{"categories":["biolink:Gene"],"ids":["NCBIGene:6531"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:affects"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/ctd/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_ctd","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["ctd"]}},"/ctd/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_ctd","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["ctd"]}},"/ctd/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_ctd","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["ctd"]}},"/ctd/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_ctd","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["ctd"]}},"/ctd/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_ctd","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["ctd"]}},"/drugcentral/meta_knowledge_graph":{"get":{"tags":["trapi","drugcentral"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_drugcentral_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/drugcentral/sri_testing_data":{"get":{"tags":["trapi","drugcentral"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_drugcentral_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/drugcentral/query":{"post":{"tags":["trapi","drugcentral"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_drugcentral_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:SmallMolecule"],"ids":["PUBCHEM.COMPOUND:91668186"]},"n1":{"categories":["biolink:Disease"],"ids":["MONDO:0005494"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:treats"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/drugcentral/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_drugcentral","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["drugcentral"]}},"/drugcentral/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_drugcentral","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["drugcentral"]}},"/drugcentral/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_drugcentral","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["drugcentral"]}},"/drugcentral/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_drugcentral","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["drugcentral"]}},"/drugcentral/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_drugcentral","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["drugcentral"]}},"/genome-alliance/meta_knowledge_graph":{"get":{"tags":["trapi","genome-alliance"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_genome-alliance_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/genome-alliance/sri_testing_data":{"get":{"tags":["trapi","genome-alliance"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_genome-alliance_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/genome-alliance/query":{"post":{"tags":["trapi","genome-alliance"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_genome-alliance_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:Gene"],"ids":["NCBIGene:14462463"]},"n1":{"categories":["biolink:Gene"],"ids":["NCBIGene:796017"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:orthologous_to"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/genome-alliance/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_genome-alliance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["genome-alliance"]}},"/genome-alliance/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_genome-alliance","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["genome-alliance"]}},"/genome-alliance/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_genome-alliance","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["genome-alliance"]}},"/genome-alliance/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_genome-alliance","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["genome-alliance"]}},"/genome-alliance/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_genome-alliance","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["genome-alliance"]}},"/gtex/meta_knowledge_graph":{"get":{"tags":["trapi","gtex"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_gtex_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/gtex/sri_testing_data":{"get":{"tags":["trapi","gtex"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_gtex_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/gtex/query":{"post":{"tags":["trapi","gtex"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_gtex_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:SequenceVariant"],"ids":["CAID:CA8545933"]},"n1":{"categories":["biolink:Gene"],"ids":["NCBIGene:192666"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:is_frameshift_variant_of"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/gtex/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_gtex","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gtex"]}},"/gtex/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_gtex","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["gtex"]}},"/gtex/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_gtex","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gtex"]}},"/gtex/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_gtex","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gtex"]}},"/gtex/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_gtex","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gtex"]}},"/gtopdb/meta_knowledge_graph":{"get":{"tags":["trapi","gtopdb"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_gtopdb_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/gtopdb/sri_testing_data":{"get":{"tags":["trapi","gtopdb"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_gtopdb_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/gtopdb/query":{"post":{"tags":["trapi","gtopdb"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_gtopdb_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:SmallMolecule"],"ids":["CHEBI:195557"]},"n1":{"categories":["biolink:Gene"],"ids":["NCBIGene:239"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:affects"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/gtopdb/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_gtopdb","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gtopdb"]}},"/gtopdb/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_gtopdb","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["gtopdb"]}},"/gtopdb/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_gtopdb","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gtopdb"]}},"/gtopdb/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_gtopdb","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gtopdb"]}},"/gtopdb/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_gtopdb","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gtopdb"]}},"/gwas-catalog/meta_knowledge_graph":{"get":{"tags":["trapi","gwas-catalog"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_gwas-catalog_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/gwas-catalog/sri_testing_data":{"get":{"tags":["trapi","gwas-catalog"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_gwas-catalog_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/gwas-catalog/query":{"post":{"tags":["trapi","gwas-catalog"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_gwas-catalog_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:SequenceVariant"],"ids":["CAID:CA241642928"]},"n1":{"categories":["biolink:PhenotypicFeature"],"ids":["EFO:0003923"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:has_phenotype"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/gwas-catalog/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_gwas-catalog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gwas-catalog"]}},"/gwas-catalog/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_gwas-catalog","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["gwas-catalog"]}},"/gwas-catalog/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_gwas-catalog","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gwas-catalog"]}},"/gwas-catalog/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_gwas-catalog","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gwas-catalog"]}},"/gwas-catalog/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_gwas-catalog","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["gwas-catalog"]}},"/hetio/meta_knowledge_graph":{"get":{"tags":["trapi","hetio"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_hetio_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/hetio/sri_testing_data":{"get":{"tags":["trapi","hetio"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_hetio_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/hetio/query":{"post":{"tags":["trapi","hetio"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_hetio_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:AnatomicalEntity"],"ids":["UBERON:0000178"]},"n1":{"categories":["biolink:Gene"],"ids":["NCBIGene:9489"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:regulates"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/hetio/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_hetio","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hetio"]}},"/hetio/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_hetio","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["hetio"]}},"/hetio/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_hetio","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hetio"]}},"/hetio/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_hetio","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hetio"]}},"/hetio/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_hetio","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hetio"]}},"/hgnc/meta_knowledge_graph":{"get":{"tags":["trapi","hgnc"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_hgnc_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/hgnc/sri_testing_data":{"get":{"tags":["trapi","hgnc"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_hgnc_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/hgnc/query":{"post":{"tags":["trapi","hgnc"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_hgnc_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:GeneFamily"],"ids":["HGNC.FAMILY:594"]},"n1":{"categories":["biolink:Gene"],"ids":["NCBIGene:1"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:has_part"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/hgnc/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_hgnc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hgnc"]}},"/hgnc/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_hgnc","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["hgnc"]}},"/hgnc/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_hgnc","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hgnc"]}},"/hgnc/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_hgnc","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hgnc"]}},"/hgnc/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_hgnc","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hgnc"]}},"/hmdb/meta_knowledge_graph":{"get":{"tags":["trapi","hmdb"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_hmdb_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/hmdb/sri_testing_data":{"get":{"tags":["trapi","hmdb"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_hmdb_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/hmdb/query":{"post":{"tags":["trapi","hmdb"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_hmdb_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:Pathway"],"ids":["SMPDB:SMP0000044"]},"n1":{"categories":["biolink:SmallMolecule"],"ids":["CHEMBL.COMPOUND:CHEMBL1233327"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:has_participant"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/hmdb/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_hmdb","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hmdb"]}},"/hmdb/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_hmdb","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["hmdb"]}},"/hmdb/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_hmdb","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hmdb"]}},"/hmdb/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_hmdb","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hmdb"]}},"/hmdb/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_hmdb","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["hmdb"]}},"/human-goa/meta_knowledge_graph":{"get":{"tags":["trapi","human-goa"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_human-goa_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/human-goa/sri_testing_data":{"get":{"tags":["trapi","human-goa"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_human-goa_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/human-goa/query":{"post":{"tags":["trapi","human-goa"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_human-goa_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:Protein"],"ids":["UniProtKB:A5YKK6"]},"n1":{"categories":["biolink:MolecularActivity"],"ids":["GO:0004535"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:contributes_to"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/human-goa/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_human-goa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["human-goa"]}},"/human-goa/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_human-goa","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["human-goa"]}},"/human-goa/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_human-goa","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["human-goa"]}},"/human-goa/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_human-goa","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["human-goa"]}},"/human-goa/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_human-goa","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["human-goa"]}},"/icees-kg/meta_knowledge_graph":{"get":{"tags":["trapi","icees-kg"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_icees-kg_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/icees-kg/sri_testing_data":{"get":{"tags":["trapi","icees-kg"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_icees-kg_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/icees-kg/query":{"post":{"tags":["trapi","icees-kg"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_icees-kg_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:SmallMolecule"],"ids":["PUBCHEM.COMPOUND:2083"]},"n1":{"categories":["biolink:Disease"],"ids":["MONDO:0007079"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:positively_correlated_with"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/icees-kg/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_icees-kg","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["icees-kg"]}},"/icees-kg/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_icees-kg","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["icees-kg"]}},"/icees-kg/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_icees-kg","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["icees-kg"]}},"/icees-kg/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_icees-kg","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["icees-kg"]}},"/icees-kg/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_icees-kg","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["icees-kg"]}},"/intact/meta_knowledge_graph":{"get":{"tags":["trapi","intact"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_intact_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/intact/sri_testing_data":{"get":{"tags":["trapi","intact"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_intact_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/intact/query":{"post":{"tags":["trapi","intact"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_intact_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:Protein"],"ids":["UniProtKB:P0A420"]},"n1":{"categories":["biolink:Protein"],"ids":["UniProtKB:P0A3C9"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:directly_physically_interacts_with"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/intact/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_intact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["intact"]}},"/intact/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_intact","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["intact"]}},"/intact/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_intact","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["intact"]}},"/intact/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_intact","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["intact"]}},"/intact/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_intact","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["intact"]}},"/monarch-kg/meta_knowledge_graph":{"get":{"tags":["trapi","monarch-kg"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_monarch-kg_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/monarch-kg/sri_testing_data":{"get":{"tags":["trapi","monarch-kg"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_monarch-kg_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/monarch-kg/query":{"post":{"tags":["trapi","monarch-kg"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_monarch-kg_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:Gene"],"ids":["FB:FBgn0004373"]},"n1":{"categories":["biolink:Gene"],"ids":["FB:FBgn0010348"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:interacts_with"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/monarch-kg/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_monarch-kg","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["monarch-kg"]}},"/monarch-kg/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_monarch-kg","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["monarch-kg"]}},"/monarch-kg/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_monarch-kg","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["monarch-kg"]}},"/monarch-kg/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_monarch-kg","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["monarch-kg"]}},"/monarch-kg/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_monarch-kg","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["monarch-kg"]}},"/panther/meta_knowledge_graph":{"get":{"tags":["trapi","panther"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_panther_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/panther/sri_testing_data":{"get":{"tags":["trapi","panther"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_panther_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/panther/query":{"post":{"tags":["trapi","panther"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_panther_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"},"example":{"message":{"query_graph":{"nodes":{"n0":{"categories":["biolink:GeneFamily"],"ids":["PANTHER.FAMILY:PTHR23158"]},"n1":{"categories":["biolink:GeneFamily"],"ids":["PANTHER.FAMILY:PTHR23158:SF57"]}},"edges":{"e01":{"subject":"n0","object":"n1","predicates":["biolink:has_part"]}}}},"workflow":[{"id":"lookup"}]}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReasonerRequest"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"title":"Response 400 Reasoner Api Query Post","type":"object"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/panther/cypher":{"post":{"summary":"Run a Neo4j cypher query.","description":"Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).","operationId":"cypher_cypher_post_panther","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CypherRequest"},"example":{"query":"MATCH (n) RETURN count(n)"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["panther"]}},"/panther/metadata":{"get":{"summary":"Metadata about the knowledge graph.","description":"Returns JSON with metadata about the data sources in this knowledge graph.","operationId":"metadata_metadata_get_panther","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Metadata Metadata Get"}}}}},"tags":["panther"]}},"/panther/{source_type}/{target_type}/{curie}":{"get":{"summary":"Get one hop results from source type to target type. ","description":"Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.","operationId":"one_hop__source_type___target_type___curie__get_panther","parameters":[{"required":true,"schema":{"title":"Source Type","type":"string"},"name":"source_type","in":"path"},{"required":true,"schema":{"title":"Target Type","type":"string"},"name":"target_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response One Hop  Source Type   Target Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["panther"]}},"/panther/{node_type}/{curie}":{"get":{"summary":"Find `node` by `curie`","description":"Returns `node` matching `curie`.","operationId":"node__node_type___curie__get_panther","parameters":[{"required":true,"schema":{"title":"Node Type","type":"string"},"name":"node_type","in":"path"},{"required":true,"schema":{"title":"Curie","type":"string"},"name":"curie","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Node  Node Type   Curie  Get","type":"array","items":{}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["panther"]}},"/panther/simple_spec":{"get":{"summary":"Get one-hop connection schema","description":"Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.","operationId":"simple_spec_simple_spec_get_panther","parameters":[{"required":false,"schema":{"title":"Source","type":"string"},"name":"source","in":"query"},{"required":false,"schema":{"title":"Target","type":"string"},"name":"target","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Simple Spec Simple Spec Get","type":"array","items":{"$ref":"#/components/schemas/SimpleSpecElement"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"tags":["panther"]}},"/pharos/meta_knowledge_graph":{"get":{"tags":["trapi","pharos"],"summary":"Meta knowledge graph representation of this TRAPI web service.","description":"Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.","operationId":"get_meta_knowledge_graph_meta_knowledge_graph_get_pharos_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaKnowledgeGraph"}}}}}}},"/pharos/sri_testing_data":{"get":{"tags":["trapi","pharos"],"summary":"Test data for usage by the SRI Testing Harness.","description":"Returns a list of edges that are representative examples of the knowledge graph.","operationId":"get_sri_testing_data_sri_testing_data_get_pharos_trapi","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SRITestData"}}}}}}},"/pharos/query":{"post":{"tags":["trapi","pharos"],"summary":"Accepts TRAPI Queries.","description":"Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)","operationId":"reasoner_api_query_post_pharos_trapi","parameters":[{"required":false,"schema":{"title":"Profile","type":"boolean","default":false},"name":"profile","in":"query"},{"required":false,"schema":{"title":"Validate","type":"boolean","default":false},"name":"validate","in":"query"},{"required":false,"schema":{"title":"Subclass","type":"boolean","default":true},"name":"subclass","in":"query"}],"request
[...]
